[access "refs/for/refs/*"]
	pushMerge = group fuel-convserializers-core
	pushMerge = group fuel-core
	pushMerge = group fuel-release

[access "refs/heads/*"]
	abandon = group fuel-abandon-bot
	abandon = group fuel-convserializers-core
	abandon = group fuel-core
	create = group fuel-core
	create = group fuel-release
	label-Code-Review = -2..+2 group fuel-convserializers-core
	label-Code-Review = -2..+2 group fuel-core
	label-Verified = -1..+1 group fuel-ci
	label-Workflow = -1..+1 group fuel-convserializers-core
	label-Workflow = -1..+1 group fuel-core
	label-Workflow = -1..+1 group fuel-release

[access "refs/tags/*"]
	pushSignedTag = group fuel-release

[receive]
	requireChangeId = true
	requireContributorAgreement = true

[submit]
	mergeContent = true
